.container {
    height: 500px;
    color: white;
    display: grid;
    padding: 10px;
    background-color: gray;

    /* Grid template uni GRID ROWS / GRID COLUMNS */
    grid-template: auto auto / auto auto auto;
    /* Resumindo grid-template: linhas / colunas; */

    /* Gab Global tendo LINHAS / COLUNAS */
    grid-gap: 30px;

    /* Centraliza Horizontalmente */
    justify-content: center;

    /* Centraliza Verticalmente */
    align-content: center;

}

.r1 {
    background-color: red;
}

.r2 {
    background-color: blue;
}

.r3 {
    background-color: green;
}

.rect {
    width: 100px;
    height: 100px;
}