* {
    margin: 0px;
    border: 0px;
    font-family: Open Sans;
}

body {
    margin: auto;
    width: 1440px;
    background-color: #008037;
}

.landPage header {
    display: inline-block;
    position: relative;
    background-color: #008037;
    width: 100%;
    height: 130px;
}

.landPage header img {
    width: 270px;
    height: 126px;
    object-fit: cover;
}

.landPage header nav {
    float: right;
    width: 485px;
    height: 130px;
    margin: 40px;
    text-align: center;
}

.landPage header nav a {
    box-sizing: border-box;
    text-decoration: none;
    color: #008037;
    background-color: #fff;
    font-size: 35px;
    padding: 10px 88px;
    border-radius: 70px;
    font-weight: bold;
}

main {
    background-image: url(./assets/background.jpg);
    width: 1440;
    height: 520px;
    object-fit: cover;
}

main section .infoContent {
    display: inline-block;
}

main section #empilhadeira img {
    margin-top: 99px;
    margin-left: 44px;
    width: 321px;
    height: 321px;
}

main section #empilhadeira h1 {
    font-size: 60px;
    color: #fff;
}

main section #empilhadeira h2,
main section #empilhadeira h3 {
    font-size: 40px;
    color: #fff;
}

main section #empilhadeira .textEmpilhadeira {
    margin-top: -280px;
    margin-right: 510px;
    float: right;
}

main section #seta img {
    margin-top: -380px;
    margin-right: 169px;
    width: 313px;
    height: 313px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    float: right;
}

/* Resposividade Tablet */

@media screen and (max-width: 930px) {
    main section #empilhadeira .textEmpilhadeira {
        margin-top: 144px;
        margin-right: 0px;
        float: right;
    }

    main section #empilhadeira img {
        margin-top: 99px;
        width: 200px;
        height: 200px;
    }

    main section #empilhadeira h1 {
        font-size: 40px;
    }
    
    main section #empilhadeira h2,
    main section #empilhadeira h3 {
        font-size: 20px;
    }
}

/* Barra de Captura de e-mail */

.landPage main .registeUsers {
    width: 1440px;
    height: 182px;
    background-color: #008037;
    text-align: center;
}

.landPage main .registeUsers p {
    margin-top: 12px;
    font-size: 40px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.landPage main .registeUsers .inputRegister {
    margin-top: 15px;
}

.landPage main .registeUsers .inputRegister input {
    width: 400px;
    height: 60px;
    border-radius: 50px;
}

.landPage main .registeUsers .inputRegisterName,
.landPage main .registeUsers .inputRegisterEmail {
    font-size: 35px;
    font-weight: 400;
    padding-left: 34px;
}

.landPage main .registeUsers .inputRegisterName::placeholder,
.landPage main .registeUsers .inputRegisterEmail::placeholder {
    color: #008037;
}

.landPage main .registeUsers .inputRegisterEmail,
.landPage main .registeUsers .inputRegisterSubmit {
    margin-left: 77px;
}

.landPage main .registeUsers .inputRegisterSubmit {
    font-size: 35px;
    font-weight: 400;
    padding-left: 34px;
    border: solid 1px #fff;
}
