* {
    margin: 0px;
    border: 0px;
    font-family: Open Sans;
}

.landPage header {
    display: inline-block;
    position: relative;
    background-color: #008037;
    width: 100%;
    height: 130px;
}

.landPage header img {
    width: 270px;
    height: 126px;
    object-fit: cover;
}

.landPage header nav {
    float: right;
    width: 485px;
    height: 130px;
    margin: 40px;
    text-align: center;
}

.landPage header nav a {
    box-sizing: border-box;
    text-decoration: none;
    color: #008037;
    background-color: #fff;
    font-size: 35px;
    padding: 10px 88px;
    border-radius: 70px;
    font-weight: bold;
}
