h1::first-letter {
    color: red;
    font-size: 5rem;;
}

p::first-line {
    color: red;
}

li {
    list-style: none;
}

li::before {
    content: "Before - ";
    color: blue;
}

li::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(./icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p::selection {
    background-color: yellow;
    color: tomato;
}