/* Quando você usa > indica que tem que ser o elemento PAI dele */

#head > p {
    background-color: green;
}


/* Ele pega TODOS os elesmentos apos a TAG */
#head ~ p {
    background-color: tomato;
}


/* Ele pega o proximo elementos depois da TAG usada apenas UM*/
#elemento + p {
    background-color: blue;
}


[width] {
    
}