/* Quando você usa > indica que tem que ser o elemento PAI dele */

#head > p {
    background-color: green;
}


/* Ele pega TODOS os elesmentos apos a TAG */
#head ~ p {
    background-color: tomato;
}


/* Ele pega o proximo elementos depois da TAG usada apenas UM*/
#elemento + p {
    background-color: blue;
}

/* Seleciona o ter tem dentro do HTML a TAG que deseja */
[width] {
    background-color: yellow;
}

/* Seleciona só o que tem o por exemplo o tamanho que você precisa */
[width = "600"] {
    background-color: violet;
}

